services:
  - type: web
    name: digilib
    env: node
    region: singapore
    plan: free
    buildCommand: chmod +x setup.sh && ./setup.sh
    startCommand: npm start
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: digilib-db
          property: connectionString
      - key: CLOUD_NAME
        sync: false
      - key: CLOUD_KEY
        sync: false
      - key: CLOUD_SECRET
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: NODE_ENV
        value: production
      # Add Python path
      - key: PYTHONPATH
        value: /usr/local/lib/python3.10/dist-packages:/usr/lib/python3.10/dist-packages

databases:
  - name: digilib-db
    databaseName: digilib
    user: digilib_user
    plan: free