<!DOCTYPE html>
<html>
<head>
    <title>Upload PDF</title>
</head>
<body>
<h1>Upload PDF</h1>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="pdf" required />
    <label>
        <input type="checkbox" name="private" /> Private
    </label>
    <button>Upload</button>
</form>
<a href="/">⬅ Back</a>
</body>
</html>
